In [1]:
import pandas as pd

# Define the path to your Excel file
file_path = "/teamspace/studios/this_studio/somali-radios-with-ai-for-food-security/phase_1/data/Somalia - IPC Analysis 2017-2025.xlsx"

# Use pandas to read the Excel file into a DataFrame
try:
    df = pd.read_excel(file_path)

    # You can now work with the data in the 'df' DataFrame
    # For example, let's display the first 5 rows
    print("Successfully loaded the Excel file.")
    print("First 5 rows of the DataFrame:")
    print(df.head())

    # You can also print information about the DataFrame
    print("\nDataFrame Info:")
    df.info()

except FileNotFoundError:
    print(f"Error: The file was not found at the specified path: {file_path}")
except Exception as e:
    print(f"An error occurred while trying to read the Excel file: {e}")

Successfully loaded the Excel file.
First 5 rows of the DataFrame:
  Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        NaN        NaN        NaN        NaN        NaN        NaN

  Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 45 Unnamed: 46  \
0        NaN        NaN        NaN        NaN  ...         NaN         NaN
1        NaN        NaN        NaN        NaN  ...         NaN         NaN
2        NaN        NaN        NaN        NaN  ...         NaN         NaN
3        NaN        NaN        NaN        NaN  ...         NaN         NaN
4        NaN        NaN        NaN        NaN  ...         NaN         NaN

  Unnamed: 47 Unnamed: 48 Unnamed: 49 Unnamed: 50 Unnamed: 51 Unnamed: 52  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

  Unnamed: 53 Unnamed: 54
0         NaN         NaN
1         NaN         NaN
2         NaN         NaN
3         NaN         NaN
4         NaN         NaN

[5 rows x 55 columns]

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3894 entries, 0 to 3893
Data columns (total 55 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   3863 non-null   object
 1   Unnamed: 1   3459 non-null   object
 2   Unnamed: 2   3459 non-null   object
 3   Unnamed: 3   3459 non-null   object
 4   Unnamed: 4   3459 non-null   object
 5   Unnamed: 5   3858 non-null   object
 6   Unnamed: 6   23 non-null     object
 7   Unnamed: 7   3838 non-null   object
 8   Unnamed: 8   21 non-null     object
 9   Unnamed: 9   1 non-null      object
 10  Unnamed: 10  3837 non-null   object
 11  Unnamed: 11  3838 non-null   object
 12  Unnamed: 12  3837 non-null   object
 13  Unnamed: 13  3838 non-null   object
 14  Unnamed: 14  3837 non-null   object
 15  Unnamed: 15  3822 non-null   object
 16  Unnamed: 16  3821 non-null   object
 17  Unnamed: 17  3704 non-null   object
 18  Unnamed: 18  3703 non-null   object
 19  Unnamed: 19  3668 non-null   object
 20  Unnamed: 20  3667 non-null   object
 21  Unnamed: 21  3837 non-null   object
 22  Unnamed: 22  3836 non-null   object
 23  Unnamed: 23  3858 non-null   object
 24  Unnamed: 24  22 non-null     object
 25  Unnamed: 25  1 non-null      object
 26  Unnamed: 26  3856 non-null   object
 27  Unnamed: 27  3857 non-null   object
 28  Unnamed: 28  3856 non-null   object
 29  Unnamed: 29  3857 non-null   object
 30  Unnamed: 30  3856 non-null   object
 31  Unnamed: 31  3842 non-null   object
 32  Unnamed: 32  3841 non-null   object
 33  Unnamed: 33  3756 non-null   object
 34  Unnamed: 34  3755 non-null   object
 35  Unnamed: 35  3686 non-null   object
 36  Unnamed: 36  3685 non-null   object
 37  Unnamed: 37  3856 non-null   object
 38  Unnamed: 38  3855 non-null   object
 39  Unnamed: 39  408 non-null    object
 40  Unnamed: 40  4 non-null      object
 41  Unnamed: 41  1 non-null      object
 42  Unnamed: 42  406 non-null    object
 43  Unnamed: 43  407 non-null    object
 44  Unnamed: 44  406 non-null    object
 45  Unnamed: 45  407 non-null    object
 46  Unnamed: 46  406 non-null    object
 47  Unnamed: 47  407 non-null    object
 48  Unnamed: 48  406 non-null    object
 49  Unnamed: 49  407 non-null    object
 50  Unnamed: 50  406 non-null    object
 51  Unnamed: 51  407 non-null    object
 52  Unnamed: 52  406 non-null    object
 53  Unnamed: 53  407 non-null    object
 54  Unnamed: 54  406 non-null    object
dtypes: object(55)
memory usage: 1.6+ MB

In [2]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3891,Disclaimer: All national population figures ar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3893,Source: Integrated Food Security Phase Classi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN